<!DOCTYPE html>
<html>
<head>
	<title>file1</title>
	<!-- <script type="text/javascript">
		function clickFunc(){
			alert('123');
			   //document.getElementById("nd1").style.color = "red";
			 	document.getElementById("content").innerHTML='<object type="text/html" data="../header.html" ></object>';
			 // $( "#content" ).load( "footer.html" );
			  //$("#nd1").load("../header.html"); 
			 // $("#nd1").load('header.html')

		}
	</script> -->


	<script>
		// $(document).ready( function() {
		// 	var includes = $('[data-include]');
  //   		jQuery.each(includes.on("click", function(){

  //   		}
  //   		}));
  //   	};
  		$(document).ready( function(){
  			var includes = $('[data-include]');
  			jQuery.each(includes.on("click", function(){
  				var file = 'Views/Pages/' + $(this).data('include') + '.html';
  				$("#content").load(file);
  				//alert('123');
  			}




  				))
  		}


  		)
			

    	
	</script>



</head>
<body>
	<div id="menu">
		<button id="load_home"> day la file menu</button>
		<button data-include="bai1"> bai 1</button>
		<button data-include="bai2"> bai 2</button>
		<button data-include="bai3"> bai 3</button>
		<button data-include="bai4"> bai 4</button>
		<button data-include="bai5"> bai 5</button>
	</div>
	
</body>
</html>